/* @font-face {
  font-family: "D-DIN-PRO";
  src: url("../font/D-DIN-PRO-400.ttf") format("truetype-variations");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "D-DIN-PRO";
  src: url("../font/D-DIN-PRO-500.ttf") format("truetype-variations");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "D-DIN-PRO";
  src: url("../font/D-DIN-PRO-600.ttf") format("truetype-variations");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "D-DIN-PRO";
  src: url("../font/D-DIN-PRO-700.ttf") format("truetype-variations");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "D-DIN-PRO";
  src: url("../font/D-DIN-PRO-800.ttf") format("truetype-variations");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "D-DIN-PRO";
  src: url("../font/D-DIN-PRO-900.ttf") format("truetype-variations");
  font-weight: 900;
  font-style: normal;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "D-DIN-PRO", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
